Label {
    padding-left: 10;
    border-color: lightgray;
    border-width: 0.5;
    border-radius: 5;
    font-size: 20;
    height: 40;
    margin: 0 10;
}

Label.heading {
    margin-top: 10;
    font-weight: bold;
}

button {
    margin: 40 0;
    font-size: 30;
    height: 80;
    width: 60%;
    color: #ffffff;
    background-color: #264c8b;
}